html {
    font-size: 625%;
 
}
body{
	background-color: #ffffff;
}
.public-header{
	height: 0.44rem;
	width: 100%;
	background-color: #FFFFFF;
	border: 0;
	border-bottom: 0.01rem solid #ccc; 
	box-shadow: 0.01rem 0 0.1rem #ccc;
}
.logo{
	float: left;
	margin:0.11rem 0.14rem;
	width: 0.65rem;
	height: 0.22rem;
}
.double{
	float: right;
	margin:0.17rem 0.14rem;
}
.contain{
	font-size: 0.12rem;
	color: grey;
	padding:0rem 0.3rem;
}

#logo-button{
    width: 50%;
    height: 0.35rem;
    background-color: #FF3885;
    border: 0px;
    color: #FFFFFF;
    padding:0 0.17rem;
    float: right;
}
#logo-button-left{

    float: left;
text-align:left;}
#logo-button-right{
    float: right;
}
.button-back{
	font-size: 0.12rem;
	padding:0.3rem 0.1rem;
	height: 0.35rem;
}
.public-foot{
	background: url(../images/2/backg-pic.jpg) repeat rgba(255,255,255,0.1);
	background-size: 100% 100%;
	font-size: 0.12rem;
	width: 100%;
	min-height: 25%;
	position:relative;
	padding: 6% 0;
	text-align: center;
	background-position-y:bottom;
	position: absolute;
	z-index: -2;
}
.foot-contact{
	width: 0.82rem;
	height: 0.44rem;
	margin: 0 auto;
}
.foot-contact-top{
	color: #ffffff;
	font-size: 0.20rem;
}
.foot-contact-bottom{
	color: #ccc;
}
.wenzi{
	background-color: #ffffff;
	color: #65C3FB;
	width: 67%;
	margin: 0 auto;
	padding: 0.05rem;
	border-radius: 0.03rem;
	margin-top: 3%;
	font-size: 0.5em;
}
.icon{
	margin-top: 4%;
}
.icon ul{
	width: 85%;
	height: auto;
	margin: 0 auto;
}
.icon ul li{
	float: left;
	width: 20%;
}
.triangle-down {
    width: 0;
    height: 0;
    border-left: 0.05rem solid transparent;
    border-right: 0.05rem solid transparent;
    border-top: 0.1rem solid #ffffff;
    margin: 0 auto;
}
.b{
	background:#000;
	width:100%;
	min-height:100%;
	color:#F00; 
	opacity: 0.5;
position: absolute;
top: 0;z-index: -1;
}
.step{
	height: 1.3rem;
	width: 100%;
	padding-top: 0.15rem;
	border-bottom: 0.01rem solid #ccc;
}
.step ul li{
	height: 0.34rem;
	line-height: 0.34rem;
	color: #959595;
	margin-bottom: 0.1rem;
}
.stepnumber{
	float: left;
	width: 0.32rem;
	height: 0.32rem;
	border: 1px solid #959595;
	border-radius: 0.5rem;
	text-align: center;
	vertical-align: middle;
	margin-right: 0.1rem;
}
#active{
	color: white;
	background-color: #FF3885;
	width: 0.34rem;
	height: 0.34rem;
	border: 0;
}
.bill{
	width: 100%;
	min-height: 2.4rem;
	border-bottom: 0.01rem solid #ccc;
}

.button-back p,.button-back h2{ 
float: left;
line-height: 0.35rem;
 }
 .allprice{
 	color: grey;
 }
 .priceo{
 	color: #FF3885;
 }
 .bill-form p{
 	color: #FF3885;
 	height: 0.37rem;
 	line-height: 0.37rem;
 	clear:both;
 }
 .bill-form input{
  	border: 0.01rem solid #E2E0E0;
  	outline: none;
  	background-color:transparent;
  }
 input[type=text]{
	width: 90%;
	height: 0.34rem;
	padding-left: 0.05rem;
	float:left;
	color:grey;
   }
 textarea{
	width: 90%;
	height: 0.7rem;
	padding-left: 0.05rem;
	border: 0.01rem solid #E2E0E0;
	outline:none;
	background-color:transparent;
   }
#year,#month,#date{
   	width: 50%;
   	height: 0.34rem;
   	margin-bottom: 5%;
   }
   select{
   	width: 92%;
	height: 0.34rem;
	padding-left: 0.05rem;
	border: 0.01rem solid #E2E0E0;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	background: url("../images/Rectangle-5-copy-7.png") no-repeat scroll  transparent;
	background-position:95% 50%;
	padding-right: 0.14rem;
   }
   .date{
   	width: 50%;
   	height: 0.34rem;
   	margin-bottom: 5%;
   }
.enen{
    background-color: #80FC85;
    width: 0.14rem;height: 0.14rem;
    border-radius: 0.02rem;
    border: 0.0rem;
    float: right;
    margin-top: 3%;
}
.enen:after{
	content:"";
	position: absolute;
	width: 0.14rem;
	height: 0.14rem;
	background: url(../images/shop/yes.png) no-repeat;
	color: #80FC85;}
.xixi{
    background-color:  #FF3885;
    width: 0.14rem;height: 0.14rem;
    border-radius: 0.02rem;
    border: 0.0rem;
    float: right;
    margin-top: 3%;
}
.xixi:before{
	content:"";
	position: absolute;
	width: 0.14rem;
	height: 0.14rem;
	background: url(../images/shop/Rectangle-5-copy-6.png) no-repeat center;
	color: #FF3885;}